*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#050816;

font-family:Segoe UI;

height:100vh;

color:white;

}

.app{

display:flex;

height:100vh;

}

.sidebar{

width:230px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

padding:20px;

border-right:1px solid rgba(255,255,255,.1);

}

.sidebar h2{

margin-bottom:25px;

color:#00d9ff;

}

.sidebar button{

width:100%;

padding:12px;

border:none;

border-radius:10px;

background:#00d9ff;

cursor:pointer;

}

.main{

flex:1;

display:flex;

flex-direction:column;

}

.header{

padding:20px;

font-size:22px;

font-weight:bold;

background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

}

#chat-box{

flex:1;

overflow:auto;

padding:25px;

}

.user{

margin-left:auto;

background:#00d9ff;

color:black;

padding:14px;

border-radius:15px;

margin-top:12px;

max-width:70%;

}

.bot{

background:#22263a;

padding:14px;

border-radius:15px;

margin-top:12px;

max-width:70%;

}

.input-area{

display:flex;

padding:20px;

background:rgba(255,255,255,.05);

}

input{

flex:1;

padding:15px;

border-radius:12px;

border:none;

background:#1d2335;

color:white;

font-size:16px;

}

button{

margin-left:10px;

padding:15px 22px;

border:none;

border-radius:12px;

cursor:pointer;

background:#00d9ff;

}

button:hover{

transform:scale(1.05);

transition:.3s;

}